@use './-variables' as *;
@use './-mixins' as *;

html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: $main-color;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}