@use './-variables' as *;
@use './-mixins' as *;

.createEmployee {
    max-width: 800px;
        margin: 2rem auto;
        padding: 2rem;
        background-color: $bg-white-color;
        border-radius: 12px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  
    &__title {
        @include fontStyle (1.8rem, 700);
        text-align: center;
        margin-bottom: 2rem;
        color: $main-color;
    }
  
    &__form {
        @include flexContainer (column, center, stretch);
        gap: 1.5rem;
    }
    
    &__formGroup {
        @include flexContainer (column, center, stretch);
    }
    
    &__formGroup label {
        @include fontStyle (1rem, 600);
        margin: 0.5rem 0;
    }
    
    &__formGroup input {
        @include fontStyle (1rem, 400);
        padding: 0.6rem;
        border: 1px solid #ccc;
        border-radius: 6px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }

    &__formGroup_select {
        @include fontStyle (1rem, 400);
        padding: 0.6rem;
        border: 1px solid #ccc;
        border-radius: 6px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }
    
    &__addressFieldset {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 1rem;
    }
    
    &__addressFieldset legend {
        @include fontStyle (1rem, 700);
        padding: 0 0.5rem;
        color: $main-color;
    }
    
    &__submitButton {
        @include fontStyle (1rem, 400);
        background-color: $main-color;
        color: $white-color;
        padding: 0.8rem 1.5rem;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    &__submitButton:hover {
        background-color: $bg-green-color;
    }
    &__modal {
        background: $main-color;
        color: $white-color;
        padding: 2rem;
        border-radius: 1rem;
        width: 300px;
        text-align: center;
        position: relative;
    }
    &__modalOverlay {
        @include flexContainer (column, center, center);
        background: rgba(0, 0, 0, 0.4);
        position: fixed;
        inset: 0;
        z-index: 1000;
    }
    &__modalClose {
        color: $white-color;
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        font-size: 1.5rem;
        background: none;
        border: none;
        cursor: pointer;
    }
}