@use './-variables' as *;
@use './-mixins' as *;

.footer {
    background-color: main-color;
    color: $white-color;
    text-align: center;
    padding: 1rem;
  
    &__text {
      @include fontStyle (0.9rem, 700);
      margin: 0;
    }
  }