@use './-variables' as *;
@use './-mixins' as *;

.header {
    background-color: $main-color;
    color: $white-color;
    padding: 1rem 0;
  
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 960px;
      margin: auto;
      padding: 0 1rem;
    }
  
    &__logo {
      height: 40px;
    }
  
    &__nav {
      display: flex;
      gap: 1.5rem;
    }
  
    &__link {
      color: $white-color;
      text-decoration: none;
      font-weight: 500;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }